* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Slab", serif;
  transition: all 0.3s ease;
}
nav {
  width: 100%;
  padding: 15px 18px;
}
.navbar {
  width: 90%;
  margin: 0px auto;
  padding: 15px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link-and-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav-link-and-logo > .nav-links > ul > li {
  display: inline;
  margin: 0 15px;
}
.nav-link-and-logo > .nav-links > ul > li > a {
  padding: 2px 5px;
  color: #a7a6ac;
  font-weight: bold;
}
.nav-links > ul > li:hover a,
.sign-login > ul > li:hover .login {
  color: #313137;
}
.sign-login > ul > li {
  display: inline;
  margin: 0 15px;
}
.sign-login > ul > li > a {
  padding: 2px 5px;
  font-weight: bold;
  color: #a7a6ac;
  font-weight: bold;
}
.sign-login > ul > li > .signup {
  font-size: 1rem;
  color: #fff;
  padding: 0.5em 1.2em;
  background-color: #2dcfcc;
  text-align: center;
  border-radius: 25px;
}
.signup:hover,
.for-button > button:hover,
.button-container > button:hover,
.for-button-content > button:hover {
  opacity: 0.6;
  cursor: pointer;
}
/* hero-section */

.main-hero-container {
  width: 100%;
  height: 80vh;
  /* background-color: burlywood; */
  display: flex;
  justify-content: end;
}
.sub-hero-container {
  width: 93%;
  /* background-color: #2dcfcc; */
  display: flex;
}
.for-content {
  /* background-color: #a7a6ac; */
  padding: 10px 15px;
  background-color: #fff;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 20px;
}
.for-content > .for-head > h2 {
  color: #34313c;
  font-size: 4rem;
  font-weight: bold;
}
.for-content > .for-para > p {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 35px;
  color: #b3b3b5;
}
.for-content > .for-button > button,
.for-button-content > button {
  font-size: 1.2rem;
  padding: 0.5em 1.5em;
  color: #fff;
  background-color: #2bd0d1;
  outline: none;
  border: none;
  font-weight: bold;
  text-align: center;
  border-radius: 25px;
}
.sub-hero-container > .for-image {
  /* gap: 50px; */
  margin-top: 3%;
  /* width: 80%; */
  overflow-x: hidden;
  /* background-color: #2bd0d1; */
}
.for-image > img {
  width: 100%;
  object-fit: cover;
  transform: translateX(15%);
  overflow: hidden;
}

/* link-shorter-section */
.link-shortner-container {
  padding: 2px 15px;
  position: sticky;
}
.link-shortner-sub-container {
  margin: 0 auto;
  width: 85%;
  height: 23vh;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #3a3053 url("./images/bg-shorten-desktop.svg") center/cover
    no-repeat;
}
.input-container {
  display: flex;
  width: 80%;
  padding: 10px 15px;
  margin-left: 2%;
}
.input-container > input {
  flex: 1;
  font-size: 1.1rem;
  padding: 1em 1.2em;
  border: none;
  outline: none;
  border-radius: 8px;
}
.button-container > button {
  font-size: 1.2rem;
  padding: 0.8em 1.5em;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background-color: #2bd0d1;
  outline: none;
  border: none;
  font-weight: bold;
}
.main-statictics-container {
  width: 100%;
  height: 130vh;
  margin-top: -6%;
  background-color: #f0f1f6;
}
.sub-statitics-container {
  /* background-color: #2bd0d1; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
}
.for-contents {
  /* background-color: #fff; */
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 5px 10px;
  max-width: 460px;
  margin-top: 16%;
}
.for-contents > .for-heading > h2 {
  font-size: 2.5rem;
  /* padding: 5px 8px; */
  color: #313137;
  text-align: center;
  font-weight: bold;
}
.for-contents > .for-para > p {
  text-align: center;
  line-height: 30px;
  color: #a4a4aa;
  font-weight: bold;
}
.for-cards {
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  place-content: center;
  position: relative;
  padding: 8px 10px;
}
.card {
  background-color: #fff;
  height: 60vh;
  z-index: 999;
  padding: 8px 18px;
  max-height: 35vh;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px #34313c15;
}
.for-details {
  max-width: 250px;
  padding: 15px 8px;
  display: flex;
  flex-direction: column;
}
.for-details > h3 {
  color: #343435;
  margin-bottom: 4%;
  text-align: start;
}
.for-details > p {
  color: #a7a5ad;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 20px;
}
.card > .image {
  border-radius: 50%;
  background-color: #393053;
  width: fit-content;
  display: flex;
  display: 30px;
  flex-direction: column;
  margin-top: -17%;
}
.card > .image > img {
  object-fit: cover;
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  padding: 20px;
}
.two {
  margin-top: 25%;
}
.three {
  margin-top: 35%;
}
.one {
  margin-top: 10%;
}
.connector {
  position: absolute;
  width: 50%;
  height: 1vh;
  background-color: #1eebeb;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-main-container {
  width: 100%;
  height: 30vh;
  background: #393053 url("./images/bg-boost-desktop.svg") center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-button-content > h1 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}
.for-button-content > button {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
}
.footer-main-container {
  width: 100%;
  height: 40vh;
  padding: 10px 15px;
  background-color: #242129;
}
.footer-sub-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 15px;
  margin-top: 5%;
  display: grid;
  gap: 30px;
  grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 3fr;
}
.footer-head {
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}
.footer-head + ul {
  margin-top: 15%;
}
.footer-head + ul > li {
  color: rgb(199, 195, 195);
  font-size: 0.7rem;
  font-weight: bold;
  padding: 8px 0;
}
.for-icons {
  display: flex;
  gap: 30px;
}

.for-icons svg:hover path,
.footer-head + ul > li:hover {
  fill: deepskyblue;
  color: deepskyblue;
  cursor: pointer;
}
